.LibraryContainer {
  flex: 1;
  margin-left: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: #070719;
  padding: 80px 0;

  & > h1 {
    padding: 16px 32px;
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-top: 80px;
  }

  .navBarFloat {
    position: fixed;
    right: 32px;
    top: 32px;
    z-index: 10;
    display: flex;
    opacity: 0.9;

    background: #101022;
    padding: 0 16px;
    border-radius: 8px;

    transition: all ease 0.2s;

    &:hover {
      opacity: 1;
    }

    button {
      border: none;
      background: none;
      color: #fff;
      font-size: 16px;
      padding: 16px;
      border-bottom: 3px solid #101022;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      display: flex;
      align-items: center;

      svg {
        margin-right: 4px;
        font-size: 1.5rem;
      }

      &:hover {
        border-bottom: 3px solid #fff;
      }

      &:nth-child(2) {
        margin: 0 8px;
      }
    }
  }

  .gridContent {
    padding: 0 16px;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}

.ModalDetailsPlaylist {
  height: 70vh;
  overflow: hidden;
  display: flex;

  aside {
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-direction: column;
      color: #fff;
      margin-bottom: 24px;
      max-width: 350px;

      img {
        height: 320px;
        width: 320px;
        object-fit: cover;
        border-radius: 16px;
      }

      h1 {
        font-size: 48px;
        margin-top: 8px;
      }

      p {
        font-size: 24px;
        font-weight: normal;
        margin-top: 16px;
      }

      h3 {
        font-size: 16px;
        font-weight: lighter;
        margin-top: 8px;
      }

      h2 {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-top: 16px;

        svg {
          margin-right: 8px;
        }
      }
    }

    footer {
      display: flex;
      margin-top: auto;
      padding-bottom: 24px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 48px;
        height: 48px;
        font-size: 1.2em;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.5;
        margin-right: 8px;
        transition: all ease 0.2s;
        color: #070719;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: auto;
    padding: 0 0 0 24px;

    &::-webkit-scrollbar {
      width: 0;
    }

    .listTracksSpotify {
      width: 100%;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        padding: 8px;
        background: #101022;
        border-radius: 8px;
        margin-bottom: 8px;
        align-items: center;
        color: #fff;

        img {
          height: 80px;
          border-radius: 8px;
          margin-right: 16px;
        }

        h1 {
          font-size: 20px;
        }

        h2 {
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }
}
