.CarouselContainer {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 32px;
    margin-top: 80px;

    h2 {
      font-weight: bold;
      color: #fff;
      opacity: 0.7;
      cursor: pointer;
      transition: all ease 0.2s;
      display: flex;
      align-items: center;
      font-size: 24px;

      svg {
        margin-left: 8px;
      }

      &:hover {
        opacity: 1;
      }
    }

    div {
      font-size: 2em;
      color: #fff;
      margin-left: auto;

      svg {
        margin: auto 10px;
        opacity: 0.5;
        transition: all ease 0.2s;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    transition: all ease 1s;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 24px;
    padding-left: 24px;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}
