<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title> [[title]] </title>
</head>

<style>
    * {
        padding: 0;
        margin: 0;
    }
</style>

<body style="font-family: sans-serif; width: 780px;">
<div style="background: #222222; width: 100%; padding: 50px; text-align: center">
    <img width="300px" src="http://groupmusicapi.lucasjunior.com.br/File/logo.d154711b.png">
</div>
<div style="background: #51B25D; width: 100%; padding: 50px; text-align: center">
    <h1 style="color: #fff ; font-size: 3em;">O seu email de ativação Chegou! ✨🎉</h1>
    <p style="color: #fff; font-size: 1.5em; width: 80%; margin: auto"> Olá [[nome]] , Este é o seu email para ativar a
        sua conta no Group Playlist!🎶<br><br>
        Clique no botão abaixo para ativar a sua conta e acessar o web app 💻. Se quiser ter uma experiêcia completa,
        realize sua integração com o Spotify! <br>
    </p>

</div>

<div style="background: #222222; width: 100%; padding: 50px; text-align: center">
        <button style="cursor: pointer; padding: 20px; width: 400px; font-size: 1.5em; border-radius: 50px; border: none; color: #fff; background: #51B25D">
            [[code]]
        </button>
</div>

<div style="color: #51B25D; font-weight:600; font-size: 1.8em; background: #222222; width: 100%; padding: 50px; text-align: center">
    <p>Uma nova maneira de compartilhar listas de músicas!</p>
</div>


</body>
</html>